:root {
  --background: hsl(210, 40%, 96.1%);
  --foreground: hsl(222.2, 84%, 4.9%);
  --color-primary: hsl(165, 29%, 24.3%);
  --color-primary-foreground: hsl(210, 40%, 98%);
  --color-secondary: hsl(17.3, 31.4%, 27.8%);
  --color-secondary-foreground: hsl(210, 40%, 98%);
  --color-accent: hsl(21.6, 46.7%, 36.5%);
  --color-accent-foreground: hsl(210, 40%, 98%);
  --border: hsl(156, 55.6%, 91.2%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.primary-button {
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
  border: 1px solid var(--border);
}

.secondary-button {
  background-color: var(--color-secondary);
  color: var(--color-secondary-foreground);
}

.accent {
  color: var(--color-accent);
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  
  h1 {
    font-size: 6rem;
    color: var(--color-accent);
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
    color: var(--color-secondary);
  }
} 